{
  "Lua.workspace.library": [
    "../../progit-plugin-sdk/stubs"
  ],
  "Lua.diagnostics.globals": [
    "plugin",
    "context",
    "init",
    "http",
    "json",
    "log",
    "storage"
  ],
  "Lua.runtime.version": "LuaJIT"
}
