issue id="07b9cf78-4feb-4c95-8a95-fbcdac2494cf" {
    title "Live build logs in TUI"
    description "Stream CI job logs in real-time. Scrollable log viewer with ANSI color support."
    status "backlog"
    effort 6
    tags {
        - "ci-cd"
        - "phase3"
        - "sprint-3"
    }
    remotes {
        gitlab "63"
    }
    created "2025-12-11T12:45:23.113+00:00"
    updated "2025-12-11T18:51:48.225+00:00"
}