issue id="1a5d8b73-bbfd-4916-9a6b-c42ae8b39bb5" {
    title "One-click MR Checkout"
    description "Switch local git branch to the MR source branch seamlessly."
    status "backlog"
    effort 6
    tags {
        - "git"
        - "productivity"
        - "sprint-2"
    }
    remotes {
        gitlab "78"
    }
    created "2025-12-11T12:45:34.680+00:00"
    updated "2025-12-11T12:45:34.680+00:00"
}