issue id="291ee793-7b15-46d2-812d-c1745be9090b" {
    title "Plugin system (Lua/WASM)"
    description "Extensibility via Lua scripts or WASM modules. Custom commands, workflows, integrations."
    status "backlog"
    effort 6
    tags {
        - "phase4"
        - "plugins"
        - "sprint-4"
    }
    remotes {
        gitlab "69"
    }
    created "2025-12-11T12:45:28.301+00:00"
    updated "2025-12-11T12:45:28.301+00:00"
}