issue id="44e82ff9-ad49-40f1-bcf0-6650c34ea1c2" {
    title "Comment on code lines (without browser)"
    description "Allow adding review comments to specific lines in diffs. Submit via GitLab/Forgejo API."
    status "backlog"
    effort 6
    tags {
        - "code-review"
        - "phase2"
        - "sprint-2"
    }
    remotes {
        gitlab "59"
    }
    created "2025-12-11T12:45:20.305+00:00"
    updated "2025-12-11T18:51:52.737+00:00"
}