issue id="4e7c9114-20f2-4b46-b11b-50648b4e6ea9" {
    title "MR Dashboard View"
    description "Dedicated view for Merge Requests with columns for Author, Reviewers, Pipeline."
    status "backlog"
    effort 6
    tags {
        - "code-review"
        - "sprint-2"
        - "ui"
    }
    remotes {
        gitlab "77"
    }
    created "2025-12-11T12:45:33.997+00:00"
    updated "2025-12-11T12:45:33.997+00:00"
}