issue id="6315a6dc-c621-4910-83db-f7ed76121d76" {
    title "Release management"
    description "Create releases with changelogs, tag versions, attach artifacts."
    status "backlog"
    effort 6
    tags {
        - "forge"
        - "phase4"
        - "sprint-4"
    }
    remotes {
        gitlab "67"
    }
    created "2025-12-11T12:45:26.796+00:00"
    updated "2025-12-11T18:51:55.996+00:00"
}