issue id="7fdb8217-12a5-4d64-af7d-6b4ac5592b78" {
    title "Configurable Date Formats"
    description "Allow user to choose preferred date format (ISO, YYYYMMDD, etc) in options."
    status "backlog"
    effort 6
    tags {
        - "backlog"
        - "feature"
        - "ux"
    }
    remotes {
        gitlab "75"
    }
    created "2025-12-11T12:45:32.704+00:00"
    updated "2025-12-11T18:51:53.841+00:00"
}