issue id="8a8d2dcb-bf75-4094-aa0b-faa233add013" {
    title "Cyberpunk theme visibility fix"
    description "Brightened Cyberpunk theme colors for visibility on non-black terminal backgrounds. accent_dim now hot magenta."
    status "backlog"
    effort 6
    tags {
        - "bugfix"
        - "sprint-1"
        - "theme"
    }
    remotes {
        gitlab "73"
    }
    created "2025-12-11T12:45:31.296+00:00"
    updated "2025-12-11T18:51:46.425+00:00"
}