issue id="8b94345a-1a87-4d92-8c0a-9e4df5ee9db6" {
    title "Release management"
    description "Create releases with changelogs, tag versions, attach artifacts."
    status "backlog"
    effort 6
    tags {
        - "forge"
        - "phase4"
        - "sprint-4"
    }
    remotes {
        gitlab "67"
    }
    created "2025-12-11T12:45:26.796+00:00"
    updated "2025-12-11T12:45:26.796+00:00"
}