issue id="93a06480-4da2-4a05-96fb-3074c5523311" {
    title "Improve mouse click row detection edge cases"
    description "Test and fix any remaining off-by-one issues in list view mouse click handling. Consider scroll offset."
    status "backlog"
    effort 6
    tags {
        - "bugfix"
        - "sprint-1"
        - "ux"
    }
    remotes {
        gitlab "70"
    }
    created "2025-12-11T12:45:29.078+00:00"
    updated "2025-12-11T18:51:51.808+00:00"
}