issue id="b0ee0e16-acff-4898-9d21-dfce2043db69" {
    title "Clickable view tabs (Issues/Kanban)"
    description "Add clickable tabs in title bar to switch between views. Implemented with mouse hit detection."
    status "backlog"
    effort 6
    tags {
        - "feature"
        - "sprint-1"
        - "ux"
    }
    remotes {
        gitlab "71"
    }
    created "2025-12-11T12:45:29.871+00:00"
    updated "2025-12-11T12:45:29.871+00:00"
}