issue id="d1256262-35ed-4fda-9f07-a84360f3e1be" {
    title "Configurable Date Formats"
    description "Allow user to choose preferred date format (ISO, YYYYMMDD, etc) in options."
    status "backlog"
    effort 6
    tags {
        - "backlog"
        - "feature"
        - "ux"
    }
    remotes {
        gitlab "75"
    }
    created "2025-12-11T12:45:32.704+00:00"
    updated "2025-12-11T12:45:32.704+00:00"
}