issue id="dbba5570-e28b-47d2-934a-85d9ee7f4900" {
    title "One-click MR Checkout"
    description "Switch local git branch to the MR source branch seamlessly."
    status "backlog"
    effort 6
    tags {
        - "git"
        - "productivity"
        - "sprint-2"
    }
    remotes {
        gitlab "78"
    }
    created "2025-12-11T12:45:34.680+00:00"
    updated "2025-12-11T18:51:54.235+00:00"
}