issue id="ea279901-6006-4043-a3a1-8fcf67871ea0" {
    title "Container registry browser"
    description "Browse container images in project registry. View tags, sizes, digests."
    status "backlog"
    effort 6
    tags {
        - "forge"
        - "phase4"
        - "sprint-4"
    }
    remotes {
        gitlab "68"
    }
    created "2025-12-11T12:45:27.521+00:00"
    updated "2025-12-11T12:45:27.521+00:00"
}