issue id="eef6496c-fec0-40aa-b12f-6a6024ca32d0" {
    title "GPG Signing Integration"
    description "Ensure all commits/tags created by ProGit are GPG signed."
    status "backlog"
    effort 6
    tags {
        - "security"
        - "sprint-4"
    }
    remotes {
        gitlab "80"
    }
    created "2025-12-11T12:45:36.465+00:00"
    updated "2025-12-11T12:45:36.465+00:00"
}