issue id="f50716a2-e500-4830-929e-7d24d92e4149" {
    title "Run Local Verification"
    description "Trigger pre-commit hooks or local test runners from TUI."
    status "backlog"
    effort 6
    tags {
        - "ci-cd"
        - "local"
        - "sprint-3"
    }
    remotes {
        gitlab "79"
    }
    created "2025-12-11T12:45:35.468+00:00"
    updated "2025-12-11T12:45:35.468+00:00"
}