issue id="042272f1-a2d8-45d4-8d35-bb51874d38c7" {
    title "Implement attachment support"
    description "Allow attaching files, screenshots, and links to issues. Store in .project/attachments/ with references in KDL."
    status "backlog"
    effort 3
    blocked true
    remotes {
        gitlab "12"
    }
    created "2025-12-10T17:06:59.762+00:00"
    updated "2025-12-10T17:25:19.194+00:00"
}