issue id="1a5da9cc-7dcb-4862-b5ba-a642b3e9eb4d" {
    title "Finer neur start"
    description "I dont know"
    status "in-progress"
    effort 8
    assignee "markus.maiwald"
    tags {
        - "test; liver"
    }
    remotes {
        gitlab "7"
    }
    created "2025-12-09T20:45:31.269+00:00"
    updated "2025-12-09T21:54:30.344924714+00:00"
}