issue id="1a5da9cc-7dcb-4862-b5ba-a642b3e9eb4d" {
    title "New Issue"
    status "backlog"
    effort 3
    assignee "markus.maiwald"
    tags {
        - "test"
    }
    remotes {
        gitlab "7"
    }
    created "2025-12-09T20:45:31.269+00:00"
    updated "2025-12-09T21:48:22.858+00:00"
}