issue id="557a70c3-f91e-41f1-b385-d3451e736a05" {
    title "Welcome to Projects"
    description "This is a sample issue to get you started."
    status "backlog"
    effort 3
    assignee "markus.maiwald"
    tags {
        - "name"
        - "rabe"
    }
    remotes {
        gitlab "4"
    }
    created "2025-12-09T19:11:27.424+00:00"
    updated "2025-12-10T17:07:07.244+00:00"
}