issue id="f822a058-3c9f-4680-ba29-b9ff15744a20" {
    title "Add bulk operations for issues"
    description "Allow selecting multiple issues and performing batch operations: tag, status change, delete, etc."
    status "backlog"
    effort 3
    started "2025-12-09T09:00:00+00:00"
    remotes {
        gitlab "15"
    }
    created "2025-12-10T17:07:03.283+00:00"
    updated "2025-12-10T17:25:08.439+00:00"
}